.gameContainer {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  border: 4px solid #fff;
  padding: 8px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: 640px) {
    padding: 16px;
    height: 110vh;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 640px) {
    gap: 1rem;
  }

  .window {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    @media (min-width: 640px) {
      padding: 1rem;
    }
  }
}

.messageContainer {
  overflow: hidden;
  padding: 4px;
  flex: 1;
  min-height: 200px;

  @media (min-width: 640px) {
    min-height: auto;
  }
}
